<!DOCTYPE html>
<html lang="hi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KPRP</title>
  <link rel="stylesheet" href="/style.css">
  <script src="https://kit.fontawesome.com/d3aa2aab48.js" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <div class="navbar-logo">
      <span>
        <img src="/images/Logosvg.svg" style="width:30px; height: 20px;" />
      </span> 
      KPRP
    </div>
    <nav>
      <ul>
        <% if (isAdmin) { %>
          <li>
            <form action="/admin/logout" method="POST" style="display:inline;">
              <button type="submit" style="background:none;border:none;color:inherit;cursor:pointer;">
                <i class="fa-solid fa-right-from-bracket"></i> Logout Admin
              </button>
            </form>
          </li>
          <% } else { %>
            <li><a href="/"><i class="fa-solid fa-house"></i> Home</a></li>
            <li><a href="/admin/login"><i class="fa-solid fa-user"></i> Admin</a></li>
            <% } %>
      </ul>
    </nav>
  </header>
