<%- include('shared/header') %>

<div class="slideshow-container">
  <div class="mySlides fade">
    <img src="/images/img_1.png" style="width:100%">
    <p class="image_placeholder">राज भवन ग्राम सभा सुल्तानपुर।राय सत्यनारायण पाल सिंह तालुकेदार दरिया पुर प्रताप गढ़ द्वारा निर्मित।</p>
    <p class="image_placeholder_1"> निर्माण वर्ष 1603-1913 ।</p>
  </div>

  <div class="mySlides fade">
    <img src="/images/img_2.png" style="width:100%">
    <p class="image_placeholder">राज भवन ग्राम सभा सुल्तानपुर।राय सत्यनारायण पाल सिंह तालुकेदार दरिया पुर प्रताप गढ़ द्वारा निर्मित।</p>
    <p class="image_placeholder_1"> निर्माण वर्ष 1903-1913 ।</p>
  </div>

  <div class="mySlides fade">
    <img src="/images/img_3.jpg" style="width:100%">
    <p class="image_placeholder">समाधि स्थल राजा दुनिया पति सिंह सोमवंशी। मृत्यु 1767 </p>
    <p class="image_placeholder_1">एवं रानी कुशल देइ। तिरउल रियासत प्रताप गढ़ उ. प्र. ।</p>
  </div>
</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="x(2)"></span> 
  <span class="dot" onclick="x(3)"></span>
</div>

<a href="/family" class="cta-button">परिवार विवरण देखें</a>

<div class="content-section">
  <div class="info-card">
    <h3>गौरा, प्रतापगढ़ में निहित</h3>
    <p>वेब साइट KPRP (क्षत्रिय परिवार रानीगंज परिक्षेत्र ) में आप का हार्दिक स्वागत है।वेव साइट में  प्रत्येक परिवारों की संक्षिप्त वंशावली की देने का प्रयास किया गया है।</p>
  </div>
  <div class="info-card">
    <h3>इस वेबसाइट का उद्देश्य</h3>
    <p>आज की परिस्थितियों के कारण जीविकोपार्जन हेतु लोगों को अन्यत्र जाकर रहना पड़ रहा है।इस वेबसाइट का उद्देश्य आस-पास के क्षत्रिय परिवारों की जानकारी देना है और अपने वंश की जानकारी रखना है।</p>
  </div>
  <div class="info-card">
    <h3>गांव, ब्लॉक या परिवार के नाम से अन्वेषण करें</h3>
    <p>आप विस्तृत पारिवारिक प्रोफाइल देख सकते हैं, या ब्लॉक, गांव या उपनाम के आधार पर खोज कर देख सकते हैं कि कौन सा परिवार किस क्षेत्र से संबंधित है।</p>
  </div>
</div>

<%- include('shared/footer') %>
